In [1]:
import os
import sys
sys.path.insert(1, os.path.realpath(os.path.pardir))
from deepmeg.data.datasets import EpochsDataset, EpochsDatasetWithMeta
import numpy as np
from typing import Callable, Any
import torch
import mne
from deepmeg.preprocessing.transforms import one_hot_encoder
from deepmeg.utils import check_path
from collections.abc import Iterable

In [2]:
from mne.datasets import multimodal
fname_raw = os.path.join(multimodal.data_path(), 'multimodal_raw.fif')
raw = mne.io.read_raw_fif(fname_raw)

cond = raw.acqparser.get_condition(raw, None)
condition_names = [k for c in cond for k,v in c['event_id'].items()]
epochs_list = [mne.Epochs(raw, **c) for c in cond]
epochs = mne.concatenate_epochs(epochs_list)
epochs.pick_types(meg='grad')

Opening raw data file /home/user/mne_data/MNE-multimodal-data/multimodal_raw.fif...
    Read a total of 7 projection items:
        grad_ssp_upright.fif : PCA-v1 (1 x 306)  idle
        grad_ssp_upright.fif : PCA-v2 (1 x 306)  idle
        mag_ssp_upright.fif : PCA-v1 (1 x 306)  idle
        mag_ssp_upright.fif : PCA-v2 (1 x 306)  idle
        mag_ssp_upright.fif : PCA-v3 (1 x 306)  idle
        mag_ssp_upright.fif : PCA-v4 (1 x 306)  idle
        mag_ssp_upright.fif : PCA-v5 (1 x 306)  idle
    Range : 183600 ... 576599 =    305.687 ...   960.014 secs
Ready.
Not setting metadata
118 matching events found
Setting baseline interval to [-0.09989760657919393, 0.0] sec
Applying baseline correction (mode: mean)
Created an SSP operator (subspace dimension = 7)
7 projection items activated
Not setting metadata
129 matching events found
Setting baseline interval to [-0.09989760657919393, 0.0] sec
Applying baseline correction (mode: mean)
Created an SSP operator (subspace dimension = 7)
7 projection items activated
Not setting metadata
115 matching events found
Setting baseline interval to [-0.09989760657919393, 0.0] sec
Applying baseline correction (mode: mean)
Created an SSP operator (subspace dimension = 7)
7 projection items activated
Not setting metadata
133 matching events found
Setting baseline interval to [-0.09989760657919393, 0.0] sec
Applying baseline correction (mode: mean)
Created an SSP operator (subspace dimension = 7)
7 projection items activated
Not setting metadata
107 matching events found
Setting baseline interval to [-0.09989760657919393, 0.0] sec
Applying baseline correction (mode: mean)
Created an SSP operator (subspace dimension = 7)
7 projection items activated
Not setting metadata
118 matching events found
Setting baseline interval to [-0.09989760657919393, 0.0] sec
Applying baseline correction (mode: mean)
Created an SSP operator (subspace dimension = 7)
7 projection items activated
Not setting metadata
104 matching events found
Setting baseline interval to [-0.09989760657919393, 0.0] sec
Applying baseline correction (mode: mean)
Created an SSP operator (subspace dimension = 7)
7 projection items activated
Not setting metadata
117 matching events found
Setting baseline interval to [-0.09989760657919393, 0.0] sec
Applying baseline correction (mode: mean)
Created an SSP operator (subspace dimension = 7)
7 projection items activated
Loading data for 118 events and 361 original time points ...
1 bad epochs dropped
Loading data for 129 events and 361 original time points ...
0 bad epochs dropped
Loading data for 115 events and 361 original time points ...
0 bad epochs dropped
Loading data for 133 events and 361 original time points ...
0 bad epochs dropped
Loading data for 107 events and 361 original time points ...
0 bad epochs dropped
Loading data for 118 events and 361 original time points ...
0 bad epochs dropped
Loading data for 104 events and 361 original time points ...
0 bad epochs dropped
Loading data for 117 events and 361 original time points ...
0 bad epochs dropped
Loading data for 117 events and 361 original time points ...
Loading data for 129 events and 361 original time points ...
Loading data for 115 events and 361 original time points ...
Loading data for 133 events and 361 original time points ...
Loading data for 107 events and 361 original time points ...
Loading data for 118 events and 361 original time points ...
Loading data for 104 events and 361 original time points ...
Loading data for 117 events and 361 original time points ...
Not setting metadata
940 matching events found
Applying baseline correction (mode: mean)
Created an SSP operator (subspace dimension = 7)

<EpochsArray |  940 events (all good), -0.0998976 - 0.499488 sec, baseline -0.0998976 – 0 sec, ~531.4 MB, data loaded,
 'Visual Upper right': 117
 'Visual Lower right': 129
 'Visual Lower left': 115
 'Visual Upper left': 133
 'Somato right': 107
 'Somato left': 118
 'Auditory right': 104
 'Auditory left': 117>

In [3]:
len(epochs)

940

In [5]:
import pandas as pd

epochs.metadata = pd.DataFrame(np.concatenate([np.random.random((len(epochs), 4)), np.expand_dims(np.arange(len(epochs)), -1)], axis=-1), columns = ['col 1', 'col 2', 'col 3', 'col 4', 'order'])

Adding metadata with 5 columns

In [18]:
from copy import deepcopy

class EpochsDatasetWithMeta(EpochsDataset):
    def __init__(
        self,
        epochs: str | os.PathLike | tuple[np.ndarray, np.ndarray] | tuple[np.ndarray, np.ndarray, Iterable] | mne.Epochs,
        transform: Callable[[torch.Tensor], torch.Tensor] = None, target_transform: Callable[[torch.Tensor], torch.Tensor]  = None,
        savepath: str | os.PathLike = './data'
    ):
        """
        A PyTorch dataset class for EEG data with additional metadata.

        Args:
            epochs: An instance of mne.Epochs or a tuple of EEG data X and target Y with optional metadata Z, or a file path to load mne.Epochs data.
            transform: A callable function to apply a transformation on the input data.
            target_transform: A callable function to apply a transformation on the target data.
            savepath: A path to the directory to save the processed data.

        Raises:
            ValueError: If the data type for samples is not supported.

        Attributes:
            n_samples: An integer representing the total number of data samples.
            savepath: A path to the directory to save the processed data.
            transform: A callable function to apply a transformation on the input data.
            target_transform: A callable function to apply a transformation on the target data.
        """
        if isinstance(epochs, (str, os.PathLike)):
            epochs = mne.read_epochs(epochs)

        if isinstance(epochs, (mne.Epochs, mne.epochs.EpochsArray)):
            data = epochs.get_data()
            X = [torch.Tensor(sample) for sample in data]
            Y = one_hot_encoder(epochs.events[:, 2])
            Y = [torch.Tensor(event) for event in Y]
            Z = list(epochs.metadata.iterrows()) if epochs.metadata is not None else [None for _ in range(len(X))]
        elif isinstance(epochs, tuple):
            X = [torch.Tensor(sample) for sample in epochs[0]]
            Y = [torch.Tensor(target) for target in epochs[1]]

            if len(epochs) == 3:
                Z = [metadata for metadata in epochs[2]]
            else:
                Z = [None for _ in range(len(X))]
        else:
            raise ValueError(f'Unsupported type for data samples: {type(epochs)}')

        self.n_samples = len(X)
        self.savepath = savepath
        self.transform = transform
        self.target_transform = target_transform

        check_path(savepath)

        for i, (sample, target, meta) in enumerate(zip(X, Y, Z)):
            torch.save(sample, os.path.join(self.savepath, f'sample_{i}.pt'))
            torch.save(target, os.path.join(self.savepath, f'target_{i}.pt'))

            if meta is not None:
                torch.save(meta, os.path.join(self.savepath, f'meta_{i}.pt'))

    def __getitem__(self, idx):
        """
        Returns a processed data sample and its target with optional metadata from the dataset.

        Args:
            idx: An integer representing the index of the data sample.

        Returns:
            X: A PyTorch Tensor representing the processed input data sample.
            Y: A PyTorch Tensor representing the processed target data.
            Z: A PyTorch Tensor representing the metadata, or None if not available.

        """
        sample_path = os.path.join(self.savepath, f'sample_{idx}.pt')
        target_path = os.path.join(self.savepath, f'target_{idx}.pt')
        meta_path = os.path.join(self.savepath, f'meta_{idx}.pt')

        X = torch.load(sample_path)
        Y = torch.load(target_path)
        Z = torch.load(meta_path) if os.path.exists(meta_path) else None

        if self.transform:
            X = self.transform(X)

        if self.target_transform:
            Y = self.target_transform(Y)

        return X, Y, Z

    def to_epochsdataset(self, inplace: bool = False):
        """Converts the EpochsDatasetWithMeta object to EpochsDataset"""
        if not inplace:
            new_dataset = deepcopy(self)
        else:
            new_dataset = self

        new_dataset.__getitem__ = super().__getitem__

        return new_dataset

In [25]:
dataset = EpochsDataset(epochs, savepath='../datasets/with_meta')
dataset.save('../data/no_meta.pt')

In [26]:
dataset[0][-1]

tensor([1., 0., 0., 0., 0., 0., 0., 0.])

In [21]:
dataset.to_epochsdataset()[0][-1]

<bound method EpochsDataset.__getitem__ of <__main__.EpochsDatasetWithMeta object at 0x7f37a7e05660>>

(0,
 col 1    0.670604
 col 2    0.161635
 col 3    0.585807
 col 4    0.245524
 order    0.000000
 Name: 0, dtype: float64)

In [8]:
x, y, z = dataset[1, 'all']

In [27]:
generator1 = torch.Generator().manual_seed(42)

In [10]:
dataset = EpochsDataset.load('../data/with_meta.pt')

In [11]:
dataset[0][-1]

tensor([1., 0., 0., 0., 0., 0., 0., 0.])

In [30]:
train, test = torch.utils.data.random_split(dataset, [.7, .3])

In [33]:
train.indices

[295,
 936,
 141,
 255,
 399,
 216,
 611,
 201,
 890,
 799,
 137,
 26,
 121,
 467,
 826,
 573,
 328,
 98,
 490,
 179,
 456,
 693,
 352,
 692,
 558,
 419,
 652,
 92,
 254,
 327,
 105,
 333,
 165,
 502,
 631,
 522,
 318,
 67,
 551,
 190,
 804,
 316,
 87,
 734,
 738,
 43,
 73,
 816,
 129,
 286,
 336,
 274,
 762,
 684,
 745,
 431,
 276,
 740,
 460,
 831,
 305,
 884,
 4,
 820,
 928,
 517,
 7,
 6,
 657,
 570,
 607,
 838,
 96,
 46,
 603,
 257,
 867,
 743,
 492,
 264,
 575,
 939,
 662,
 595,
 780,
 432,
 200,
 309,
 642,
 906,
 387,
 150,
 773,
 774,
 920,
 567,
 430,
 843,
 149,
 335,
 747,
 119,
 823,
 829,
 615,
 463,
 132,
 610,
 471,
 415,
 65,
 759,
 11,
 80,
 291,
 926,
 453,
 358,
 550,
 355,
 937,
 154,
 41,
 433,
 521,
 185,
 422,
 30,
 851,
 722,
 242,
 718,
 14,
 446,
 401,
 360,
 449,
 687,
 624,
 576,
 193,
 485,
 458,
 22,
 347,
 832,
 223,
 591,
 833,
 908,
 340,
 751,
 393,
 385,
 19,
 36,
 396,
 881,
 125,
 685,
 406,
 103,
 915,
 473,
 435,
 571,
 643,
 754,
 371,
 204,
 903,
 574,
 464,
 715,
 161,
 82,
 249,
 437,
 768,
 361,
 898,
 343,
 556,
 226,
 824,
 725,
 0,
 172,
 709,
 258,
 505,
 174,
 821,
 531,
 57,
 894,
 791,
 661,
 862,
 66,
 62,
 55,
 494,
 102,
 448,
 582,
 700,
 781,
 164,
 750,
 184,
 289,
 493,
 589,
 114,
 56,
 540,
 194,
 864,
 133,
 476,
 612,
 523,
 314,
 470,
 52,
 349,
 450,
 721,
 600,
 848,
 766,
 300,
 202,
 658,
 637,
 807,
 510,
 126,
 499,
 178,
 68,
 428,
 796,
 897,
 34,
 909,
 760,
 47,
 840,
 86,
 332,
 479,
 110,
 896,
 749,
 162,
 317,
 123,
 359,
 342,
 858,
 294,
 329,
 837,
 248,
 664,
 366,
 712,
 681,
 293,
 195,
 380,
 405,
 728,
 868,
 106,
 511,
 219,
 886,
 268,
 207,
 290,
 262,
 850,
 496,
 883,
 61,
 911,
 680,
 666,
 546,
 679,
 622,
 770,
 397,
 655,
 18,
 727,
 163,
 10,
 737,
 645,
 507,
 549,
 198,
 391,
 344,
 625,
 918,
 767,
 250,
 811,
 363,
 841,
 640,
 220,
 191,
 588,
 234,
 498,
 145,
 912,
 442,
 228,
 618,
 187,
 153,
 782,
 696,
 548,
 416,
 205,
 260,
 321,
 85,
 72,
 854,
 377,
 905,
 808,
 581,
 443,
 222,
 480,
 675,
 345,
 373,
 885,
 16,
 214,
 383,
 447,
 802,
 451,
 555,
 847,
 111,
 181,
 665,
 5,
 753,
 372,
 812,
 594,
 384,
 938,
 120,
 32,
 553,
 115,
 350,
 91,
 752,
 364,
 283,
 50,
 395,
 717,
 748,
 307,
 708,
 251,
 320,
 830,
 402,
 707,
 524,
 322,
 663,
 922,
 557,
 424,
 537,
 529,
 410,
 338,
 365,
 469,
 180,
 244,
 585,
 339,
 407,
 598,
 139,
 805,
 158,
 873,
 879,
 418,
 599,
 632,
 302,
 878,
 388,
 44,
 24,
 907,
 849,
 584,
 703,
 617,
 538,
 561,
 381,
 694,
 518,
 491,
 835,
 131,
 414,
 99,
 863,
 292,
 704,
 853,
 789,
 794,
 176,
 315,
 689,
 742,
 723,
 31,
 690,
 398,
 923,
 545,
 934,
 53,
 827,
 256,
 756,
 160,
 138,
 29,
 434,
 726,
 379,
 788,
 635,
 899,
 440,
 683,
 876,
 653,
 515,
 702,
 860,
 777,
 146,
 711,
 376,
 895,
 182,
 698,
 152,
 534,
 646,
 238,
 764,
 579,
 408,
 370,
 9,
 636,
 159,
 90,
 167,
 790,
 20,
 64,
 95,
 130,
 375,
 27,
 593,
 814,
 230,
 757,
 769,
 271,
 168,
 845,
 931,
 865,
 420,
 929,
 798,
 559,
 578,
 390,
 421,
 71,
 606,
 48,
 724,
 331,
 803,
 394,
 917,
 472,
 822,
 75,
 544,
 776,
 609,
 674,
 33,
 301,
 659,
 444,
 525,
 761,
 797,
 638,
 716,
 445,
 243,
 539,
 441,
 233,
 311,
 508,
 852,
 489,
 568,
 208,
 828,
 259,
 389,
 628,
 870,
 500,
 541,
 367,
 930,
 94,
 817,
 913,
 236,
 785,
 701,
 784,
 113,
 484,
 902,
 815,
 634,
 378,
 697,
 676,
 861,
 900,
 151,
 409,
 668,
 580,
 771,
 12,
 21,
 278,
 590,
 818,
 39,
 28,
 699,
 122,
 882,
 171,
 888,
 877,
 306,
 108,
 412,
 566,
 188,
 564,
 503,
 169,
 404,
 100,
 212,
 562,
 872,
 237,
 633,
 731,
 487,
 732,
 901,
 889,
 225,
 892,
 426,
 112,
 285,
 647,
 758,
 417,
 656,
 506,
 678,
 927,
 528,
 166,
 454,
 842,
 296,
 552,
 554,
 746,
 227,
 35,
 504,
 651,
 70,
 183,
 337,
 17,
 1,
 128,
 42,
 819,
 142,
 626,
 155,
 374,
 266,
 874,
 880,
 735,
 649,
 382,
 326,
 744,
 63]

In [47]:
pd.concat([pd.DataFrame(np.random.random((10, 5))), pd.DataFrame(np.random.random((10, 5)))], axis=0).reset_index(drop=True)#.drop(columns='index')

           0         1         2         3         4
0   0.344076  0.568386  0.651605  0.699924  0.130034
1   0.079683  0.323566  0.516857  0.601350  0.709679
2   0.151721  0.822323  0.809330  0.503054  0.003494
3   0.116009  0.409918  0.169117  0.165737  0.026960
4   0.168565  0.102242  0.130126  0.704052  0.486274
5   0.112260  0.674514  0.739262  0.308823  0.149770
6   0.066878  0.946512  0.288020  0.856041  0.522778
7   0.984733  0.266781  0.002233  0.046304  0.612792
8   0.739914  0.116790  0.914125  0.228547  0.655344
9   0.063731  0.267333  0.129175  0.516174  0.322937
10  0.386451  0.357931  0.687641  0.186848  0.433824
11  0.258067  0.236856  0.100242  0.949300  0.355703
12  0.247391  0.720474  0.319910  0.405189  0.837601
13  0.142672  0.065772  0.685433  0.033473  0.445146
14  0.951400  0.782969  0.499227  0.964570  0.018702
15  0.720751  0.919507  0.460527  0.281957  0.369110
16  0.339452  0.827686  0.985445  0.526358  0.014761
17  0.030118  0.008089  0.674954  0.680407  0.073792
18  0.193191  0.640424  0.228764  0.042799  0.626360
19  0.778465  0.828103  0.268587  0.908529  0.103886

In [32]:
epochs.metadata.iloc[train.indices]

        col 1     col 2     col 3     col 4  order
296  0.550838  0.718344  0.572114  0.960487  295.0
937  0.423839  0.923238  0.191413  0.359537  936.0
142  0.576540  0.074557  0.949364  0.288135  141.0
256  0.209137  0.101296  0.627495  0.568705  255.0
400  0.851025  0.354406  0.742056  0.132330  399.0
..        ...       ...       ...       ...    ...
650  0.924688  0.753968  0.455919  0.663938  649.0
383  0.970064  0.182723  0.765135  0.143405  382.0
327  0.476914  0.813547  0.171646  0.450530  326.0
745  0.862259  0.492404  0.293469  0.764378  744.0
63   0.074966  0.429759  0.747389  0.915532   63.0

[658 rows x 5 columns]